.card-item-content {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  position: relative;
  z-index: 1;
  background-color: #fff; }
  .card-item-content img {
    width: 50px; }
  .card-item-content .card-item-info {
    height: 100%;
    width: calc(100% - 50px);
    padding: 0 5px;
    cursor: pointer; }
    .card-item-content .card-item-info .name {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .card-item-content .card-item-info .description {
      color: #888; }
    .card-item-content .card-item-info.category {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
      .card-item-content .card-item-info.category .description {
        align-self: flex-end;
        font-size: 12px; }
    .card-item-content .card-item-info.menu-item, .card-item-content .card-item-info.simple {
      overflow: hidden; }
      .card-item-content .card-item-info.menu-item .description, .card-item-content .card-item-info.simple .description {
        color: #888;
        font-size: 10px; }
    .card-item-content .card-item-info.choosable {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end; }
      .card-item-content .card-item-info.choosable .name {
        white-space: normal; }
      .card-item-content .card-item-info.choosable .description {
        align-self: flex-end;
        font-size: 12px; }
