.menu-container .table {
  display: flex; }
  .menu-container .table ul {
    list-style: none;
    padding: 0;
    width: 25%; }
  .menu-container .table li {
    min-height: 82px; }
  .menu-container .table .menuItensList {
    height: fit-content; }

.menu-container .line {
  width: 50%;
  height: 1px;
  position: absolute;
  background: #ccc;
  left: 0;
  z-index: 0; }
  .menu-container .line.right {
    left: unset;
    right: 0; }
