.menu-container {
    min-width: 100px;
    .table {
        display: flex;
        ul {
            list-style: none;
            padding: 0;
            width: 25%;
        }
        li {
            min-height: 82px;
        }
        .menuItensList {
            height: fit-content;
        }
    }
    .line {
        width: 50%;
        height: 1px;
        position: absolute;
        background: #ccc;
        left: 0;
        z-index: 0;
        &.right {
            left: unset;
            right: 0;
        }
    }
}

.css-19bon8n{
    width: 232px !important;
}

.loadingContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}